#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#grid-btn {
    padding: 10px;
    font-size: 16px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.grid {
    height: auto;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
}

.hover {
    background-color: black;
}